@import "~antd/dist/antd.css";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* *{
  border: 1px solid #000;
} */
.site-layout-content {
  min-height: calc(100vh - 190px);
  padding: 24px;
  background: #fff;
}
.logo {
  float: left;
  width: 120px;
  height: auto;
  margin: 8px 24px 8px 0;
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
[data-theme="dark"] .site-layout-content {
  background: #141414;
}
